html {
    height: 99%;
}

*:focus {
    outline: none;
}

body {
    margin: 0px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
}

#calculator-case {
    border: solid rgb(255, 255, 255) 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

#calculator {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
}

#calculator-display{
    overflow-wrap: anywhere;
    padding-right: 25px;
    width: fit-content;
    display: flex;
    align-items: end;
    font-size: 65px;
    color: white;
    margin-left: auto;    
    overflow: auto;
    height: 200px;
}

#buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#first-row, #second-row, #third-row, #fourth-row, #fifth-row {
    width: 100%;
    margin-top: 10px;
    gap: 30px;
    display: flex;
    flex: auto;
    border: solid;
}

#first-row > button,
#second-row > button,
#third-row > button,
#fourth-row > button {
    border: none;
    color: white;
    border-radius: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#equals, #decimal, #zero {
    color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
}

#equals, #decimal {
    flex: 1;
}

#zero {
    flex: 2.6;
}

.operator, #equals {
    background-color: orange;
}

.numbers, .function {
    background-color: rgb(95, 95, 95);
}