html {
    height: 99%;
}

body {
    margin: 0px;
    display: flex;
    height: 100%;
    border: solid yellow;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
}

#calculator {
    background-color: black;
    border: solid;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
}

#calculator-display{
    margin-top: 50px;
    display: flex;
    color: white;
    font-size: 55px;
    background-color: black;
    border: solid green;
    height: 150px;
    width: auto;
}

#buttons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: solid red;
}

#first-row, #second-row, #third-row, #fourth-row, #fifth-row {
    width: 100%;
    margin-top: 10px;
    gap: 30px;
    display: flex;
    flex: auto;
    border: solid;
}

#first-row > button,
#second-row > button,
#third-row > button,
#fourth-row > button {
    border: none;
    color: white;
    border-radius: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#equals, #decimal, #zero {
    color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
}

#equals, #decimal {
    flex: 1;
}

#zero {
    flex: 2.4;
}

.operator, #equals {
    background-color: orange;
}

.numbers, .function {
    background-color: rgb(95, 95, 95);
}